#{extends 'main.html' /} #{set title:'Public Blogs' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/logIn">WitPress</a> 
  <a class="ui active item" href="/PublicBlog">Public blog</a>    
  <div class="ui right menu">
    <a class="ui item" href="/logout">Log out</a>
  </div>     
</nav>
<section class="ui segment">
  <table class="ui fluid table segment">
    <thead>
      <tr>
        <th>Bloggers</th>
        <th>Blogs</th>
        <th>Posted At</th>
      </tr>
    </thead>
    <tbody>
       
        #{list items: publicBlogs, as:'post'}
         <tr>
            <td><h1>${post.key.firstName}'s Blogs...</h1></td>
         </tr>
          #{list items:post.value, as:'p'}
            <tr>
              <td><h1></h1></td>
              <td><a href="@{BLogPost.index(p.id)}">${p.title}</a></td>
              <td>${p.date}</td>
            </tr>
           </tr>
         #{/list}
      #{/list}
    </tbody>
  </table> 
</section>   


