#{extends 'main.html' /}
#{set title:'Log In' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui active item" href="/logIn">WitPress</a> 
  <a class="ui item" href="/PublicBlog">Public blog</a>    
  <div class="ui right menu">
    <a class="ui item" href="/logout">Log out</a>
  </div>     
</nav>

<section class="ui segment">
  <a href="/signUp">
    <button class="massive ui olive submit button">
      Get Started - Sign up here
    </button>
  </a>
<section class="ui segment">
<h1>Log into your account</h1>
  <h3>If already registered log in and begin publishing </h3>
    <form action="/authenticate" method="POST">
	  <div class="ui two column grid">
	    <div class="column">
          <div class="ui fluid form segment">
            <h1 class="ui header">Log In</h1>
    	    <div class="field">
	          <label> Username: </label>
	          <input type="text" name="email">
	        </div>  
	        <div class="field">
	          <label>  Password: </label>
	          <input type="password" name="password">
	        </div>
	          <button class="ui blue submit button">Login</button>
	      </div>
	    </div>
	  </div>
    </form>
</section>