#{extends 'main.html' /}
#{set title:'New Blog' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/logIn">WitPress</a> 
  <a class="ui active item" href="/blog">Blog</a> 
  <div class="ui right menu">
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <div class="ui three column grid">
    <div class="ten wide column">
      <form class="ui form segment" action="/postIt" method="POST">
        <div class="field">
          <label>Title</label>
	      <input placeholder="Title" name="title"></input>
        </div>
        <div class="field">
          <label>Content</label>
	      <textarea placeholder="Insert Blog here" name="content"></textarea>
        </div>
          <button type="submit" class="ui olive submit button">Post</button>
	      <div class="ui error message"></div>
      </form>
    </div>
    <div class="column">
      <table>
        <tbody>
          #{list items:blogPost, as:'post'}
            <tr>
              <td><a href="@{BLogPost.index(post.id)}">${post.title}</a></td>
              <input id="postid" name="postid" type="text" value="${post.id}" hidden>
            </tr>
            <tr>
              <td>
                <a href="@{Blog.deletePost(post.id)}">
                  <button type="submit" class="ui orange submit button">Delete</button>
                </a>
              </td>
            </tr>  
          #{/list}                
        <tbody>
      </table>
    </div>
  </div>
</section>