#{extends 'main.html' /}
#{set title:'Blog Post' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/logIn">WitPress</a> 
  <a class="ui active item" href="/blog">Blog</a>   
  <div class="ui right menu">
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <div class="column">
    <h1>${post.title}</h1>
      <p>${post.content}</p>
     <div class="ui divider"></div>
      #{list items:com, as:'coms'}
          <h3>${coms.commenter.firstName}</h3>
          <p>${coms.comment}</p>
          <a href="@{BLogPost.deleteComment(coms.id)}">
            <button type="submit" class="tiny ui black submit button">Delete</button>
          </a>
      #{/list}
      </br>
    <div class="ui two column grid">
      <div class="column">
        <form class="ui form segment" action="/postComment" method="POST">
          <div class="field">
            <label>Comments</label>
            <input name="id" value="${post.id}" hidden></input>
	        <input placeholder="Insert comment here" name="comment"></input>
          </div>
            <button type="submit" class="ui olive submit button">Post</button>
	        <div class="ui error message"></div>
        </form>
      </div>
    </div>
  </div>
</section>