#{extends 'main.html' /}
#{set title:'Blog Post' /}

<nav class="ui olive secondary pointing menu"> 
  <a class="ui item" href="/logIn">WitPress</a> 
  <a class="ui active item" href="/blog">Blog</a>   
  <div class="ui right menu">
    <a class="ui item" href="/logout">Log out</a>
  </div>    
</nav>

<section class="ui segment">
  <div class="column">
    <h1>${post.title}</h1>
      <p>${post.content}</p>
     <div class="ui divider"></div>
      #{list items:com, as:'coms'}
          <h3>${coms.commenter.firstName}</h3>
          <p>${coms.comment}</p>
      #{/list}
      </br>
  </div>
</section>